@media only screen and (max-width: 1200px)
  .container
    max-width: 960px
  .header-text__title
    font-weight: 700
    font-size: 63px
    line-height: 78px
  .header-social
    width: 960px
  .slider_title
    margin-bottom: 50px
  .section1-title
    font-weight: 500
    font-size: 48px
    line-height: 58px
@media only screen and (max-width: 960px)
  .container
    max-width: 640px
  .header-social
    width: 640px
  .header-social__number
    font-weight: 700
    font-size: 32px
    line-height: 38px
    padding: 0
  .header-social__media
    padding: 0

  .header-text__title
    font-weight: 700
    font-size: 40px
    line-height: 60px
  .section1-title
    font-weight: 500
    font-size: 33px
    line-height: 43px

@media only screen and (max-width: 641px)
  .container
    max-width: 460px
  .header-social
    width: 460px
  .header-text__title
    font-weight: 700
    font-size: 30px
    line-height: 50px
  .header-social__number
    font-weight: 700
    font-size: 24px
    line-height: 29px
  .header-social__media-link
    padding-left: 26px
  .section1-title
    font-weight: 500
    font-size: 24px
    line-height: 29px
  .section1-openHours
    font-weight: 500
    font-size: 16px
    line-height: 19px
  #btn1
    padding: 20px 20px 20px 20px
  #btn2
    padding: 20px 11px 20px 11px
  #myBtn3
    padding: 20px 20px 20px 20px
  #myBtn4
    padding: 20px 10px 20px 10px
  .sectionMap_map

    display: none
  .sectionMap
    margin-top: 50px

  .sectionMap_content
    width: 100%
@media only screen and (max-width: 461px)

  .container
    max-width: 320px
  .header-social
    width: 320px
    background: transparent
  .header-text__title
    padding-top: 10px
    font-weight: 700
    font-size: 20px
    line-height: 24px
  .header-social__number
    font-weight: 700
    font-size: 20px
    line-height: 24px
  .header-social__media-link img
    width: 40px
    height: 40px
  .header-social__media-link
    padding-left: 10px
  .section1-title
    padding-top: 40px
    font-weight: 500
    font-size: 16px
    line-height: 19px
  .section1-openHours
    font-weight: 500
    font-size: 14px
    line-height: 17px
  #btn1
    padding: 20px 12px 20px 12px
    font-size: 14px
  #btn2
    padding: 20px 12px 20px 12px
    font-size: 14px
  #myBtn3
    padding: 20px 12px 20px 12px
    font-size: 14px
  #myBtn4
    padding: 20px 12px 20px 12px
    font-size: 14px
  .price-priceList__prices-price
    font-size: 16px
  .sectionMap_text
    padding-right: 0
